.forcast-weather {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.forcast-filter {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  p {
    margin: 20px;
    padding: 0;
  }

  .forcast-filter-inputs {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    label {
      margin: 0 5px;
  
      input {
        margin: 0 5px;
      }
    }
  }
}

.forcast-weather-items {
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.forcast-weather-item {
  padding: 20px 0;
}

.forcast-weather-item-day {
  padding: 0;
  margin: 0;
}

.forcast-weather-item-date {
  padding: 0;
  margin: 0;
}

.forcast-weather-temp {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}