.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.navigation {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.navigation-link {
  background-color: transparent;
  border: none;
  color: #000;
  text-align: center;
  padding: 10px;

  &.active {
    background-color: #eee;
  }
}

.setting {
  align-items: center;
  display: flex;
}

.select {
  background-color: transparent;
  border: none;
  color: #000;
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
